.main {
    padding-top: 100px;
    background-color: #A53C2C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__wrapper {
        width: 80%; 
        min-width: 900px;
    }
    &__title {
        font-size: 40px;
        font-family: Title;
    }
    &__subtitle {
        margin-top: 20px;
        font-size: 18px;
    }
}