<section class="blog">
    <p class="blog__title">CÂU CHUYỆN Ủ MẮM</p>
    <div class="blog__wrapper">
        <div *ngFor="let post of posts" (click)="viewPost(post._id)" class="blog__item">
            <img [src]="post.thumbnail | imagecdn" class="blog__item__thumbnail">
            <p class="blog__item__time">{{post.timestamp | unixtodate}} - {{post.author.fullname}}</p>
            <p class="blog__item__title">{{post.title}}</p>
        </div>
    </div>
    <a routerLink="/blog"><div class="blog__button">TẤT CẢ BÀI VIẾT</div></a>
</section>