<app-banner-small src="../../assets/images/bg2.jpg"></app-banner-small>
<section class="main">
    <p class="main__title">CÂU CHUYỆN MẬT BIỂN</p>
    <div class="main__wrapper">
        <div class="main__block main__block--reversed">
            <div class="main__block__before">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vehicula nec arcu et auctor. Nunc a purus vitae augue elementum porta non id dui. Vestibulum volutpat magna ex, a feugiat diam vehicula eget. Donec eros eros, placerat et dui porta, auctor mollis ligula. Aenean lacus metus, condimentum sit amet erat nec, auctor aliquam turpis. Fusce faucibus tincidunt ante, ac blandit nisl elementum ac. Proin tristique laoreet faucibus. Maecenas vel nisi et nulla bibendum tempus. Sed interdum cursus odio bibendum iaculis. Vestibulum sit amet odio urna. Sed molestie maximus felis sed tincidunt.
                    Suspendisse nec gravida felis. Integer sit amet arcu dolor. Suspendisse blandit, nibh a gravida gravida, tortor nunc scelerisque tortor, malesuada ullamcorper nunc velit id elit. Curabitur eget ligula risus. Donec justo mi, commodo a elit quis, tempor condimentum orci. Vivamus luctus tempor ex sed fringilla. Praesent tincidunt turpis magna, vel volutpat ipsum volutpat nec. Nullam malesuada lobortis sagittis. Vestibulum posuere, tellus at maximus suscipit, purus odio tempus tortor, pharetra egestas orci ante sed massa. Nunc vel massa porta, aliquam quam eget, dignissim dui. Aliquam pharetra, metus ut lobortis scelerisque, nisi nibh posuere turpis, nec dignissim diam mi at augue. Etiam finibus est quis iaculis efficitur.
                </p>
            </div>
            <div class="main__block__after">
                <img src="../../assets/placeholders/about1.jpg" alt="">
            </div>
        </div>
        <div class="main__block">
            <div class="main__block__before">
                <img src="../../assets/placeholders/about2.jpg" alt="">
            </div>
            <div class="main__block__after">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vehicula nec arcu et auctor. Nunc a purus vitae augue elementum porta non id dui. Vestibulum volutpat magna ex, a feugiat diam vehicula eget. Donec eros eros, placerat et dui porta, auctor mollis ligula. Aenean lacus metus, condimentum sit amet erat nec, auctor aliquam turpis. Fusce faucibus tincidunt ante, ac blandit nisl elementum ac. Proin tristique laoreet faucibus. Maecenas vel nisi et nulla bibendum tempus. Sed interdum cursus odio bibendum iaculis. Vestibulum sit amet odio urna. Sed molestie maximus felis sed tincidunt.
                </p>
            </div>
        </div>
        <div class="main__block">
            <div class="main__block__large">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vehicula nec arcu et auctor. Nunc a purus vitae augue elementum porta non id dui. Vestibulum volutpat magna ex, a feugiat diam vehicula eget. Donec eros eros, placerat et dui porta, auctor mollis ligula. Aenean lacus metus, condimentum sit amet erat nec, auctor aliquam turpis. Fusce faucibus tincidunt ante, ac blandit nisl elementum ac. Proin tristique laoreet faucibus. Maecenas vel nisi et nulla bibendum tempus. Sed interdum cursus odio bibendum iaculis. Vestibulum sit amet odio urna. Sed molestie maximus felis sed tincidunt.
                    Suspendisse nec gravida felis. Integer sit amet arcu dolor. Suspendisse blandit, nibh a gravida gravida, tortor nunc scelerisque tortor, malesuada ullamcorper nunc velit id elit. Curabitur eget ligula risus. Donec justo mi, commodo a elit quis, tempor condimentum orci. Vivamus luctus tempor ex sed fringilla. Praesent tincidunt turpis magna, vel volutpat ipsum volutpat nec. Nullam malesuada lobortis sagittis. Vestibulum posuere, tellus at maximus suscipit, purus odio tempus tortor, pharetra egestas orci ante sed massa. Nunc vel massa porta, aliquam quam eget, dignissim dui. Aliquam pharetra, metus ut lobortis scelerisque, nisi nibh posuere turpis, nec dignissim diam mi at augue. Etiam finibus est quis iaculis efficitur.
                </p>
            </div>
        </div>
    </div>
</section>