<app-banner-small src="../../assets/images/bg2.jpg"></app-banner-small>

<section class="dir">

</section>

<section class="main">
    <div class="main__wrapper">
        <div class="main__before">
            <img [src]="post.thumbnail | imagecdn" class="main__thumbnail">
            <div class="main__post">
                <p class="main__post__title">{{post.title}}</p>
                <div class="main__post__info">
                    <div class="main__post__info__before">
                        <mat-icon>person_outline</mat-icon>
                        <p>{{post.author.fullname}}</p>
                    </div>
                    <div class="main__post__info__after">
                        <p>{{post.timestamp | unixtodate}}</p>
                        <mat-icon>calendar_today</mat-icon>
                    </div>
                </div>
                <p class="main__post__desc">{{post.desc}}</p>
                <div class="main__post__content" #contentDiv [innerHTML]="sanitizer.bypassSecurityTrustHtml(content)">
                </div>
            </div>
        </div>
        <div class="main__after">
            <div class="main__layout">
                <p class="main__layout__title">Mục lục</p>
                <hr>
                <p *ngFor="let item of layout, index as i" class="main__layout__item" (click)="scrollTo(i)">{{item.name}}</p>
            </div>
        </div>
    </div>
</section>