<section class="main">
    <div class="main__wrapper">
        <div class="main__item main__item--color100">
            <div class="main__item__inner">
                <p class="main__item__title">
                    LIÊN HỆ
                </p>
                <p class="main__item__content">Email: info@mysite.com</p>
                <p class="main__item__content">Tel: 123-456-7890</p>
                <p class="main__item__content">Adresse: 500 Terry Francois Street SF, CA 94158</p>
            </div>
        </div>
        <div class="main__item main__item--color200">
            <div class="main__item__inner">
                <p class="main__item__title">
                    GHÉ THĂM CHÚNG TÔI
                </p>
                <p class="main__item__content">Mon - Fri: 8am - 8pm</p>
                <p class="main__item__content">Saturday: 9am - 7pm</p>
                <p class="main__item__content">Adresse: 500 Terry Francois Street SF, CA 94158</p>
            </div>
        </div>
        <div class="main__item  main__item--span2 main__item--color300">
            <div class="main__item__inner">
                <p class="main__item__title">
                    MẠNG XÃ HỘI
                </p>
            </div>
            <div class="main__item__inner main__item__inner--vflex">
                <div class="main__item__social">
                    <img src="../../../assets/images/fab.webp">
                </div>
                <div class="main__item__social">
                    <img src="../../../assets/images/twi.webp">
                </div>
                <div class="main__item__social">
                    <img src="../../../assets/images/ins.webp">
                </div>
            </div>

        </div>
    </div>
</section>