<app-banner-small src="../../assets/images/bg2.jpg"></app-banner-small>

<section class="main">
    <p class="main__title">GÓC CHIA SẺ</p>
    <div class="main__wrapper">
        <div class="main__filter">
            <input type="text" placeholder="Tìm kiếm..." class="main__filter__search">
            <div class="main__filter__category">Câu chuyện</div>
            <div class="main__filter__category">Công thức nấu ăn</div>
        </div>
        <div class="main__inner">
            <div class="main__item main__item--large" (click)="viewPost()" style="background-image: url(../../assets/placeholders/blog1.jpg);">
                <div class="main__item__inner">
                    <p class="main__item__title">Chân gà làm gì ngon? Tổng hợp 30+ món ngon từ chân gà siêu hấp dẫn</p>
                    <p class="main__item__subtitle">Tham Nguyen · 14/3/2022</p>
                    <p class="main__item__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, in eius nulla blanditiis voluptate totam accusamus tempora cum consectetur quod, corporis porro! Sunt placeat distinctio sit magnam autem amet ipsum!</p>
                </div>
            </div>
            <div class="main__item" (click)="viewPost()" style="background-image: url(../../assets/placeholders/blog2.jpg);">
                <div class="main__item__inner">
                    <p class="main__item__title">Lorem ipsum dolor sit amet consectetur adipisicing elit dolorum provident.</p>
                    <p class="main__item__subtitle">Tham Nguyen · 14/3/2022</p>
                    <p class="main__item__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, in eius nulla blanditiis voluptate totam accusamus tempora cum consectetur quod, corporis porro! Sunt placeat distinctio sit magnam autem amet ipsum!</p>
                </div>
            </div>
            <div class="main__item" (click)="viewPost()" style="background-image: url(../../assets/placeholders/blog3.jpg);">
                <div class="main__item__inner">
                    <p class="main__item__title">Lorem ipsum dolor sit amet consectetur adipisicing elit dolorum provident.</p>
                    <p class="main__item__subtitle">Tham Nguyen · 14/3/2022</p>
                    <p class="main__item__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, in eius nulla blanditiis voluptate totam accusamus tempora cum consectetur quod, corporis porro! Sunt placeat distinctio sit magnam autem amet ipsum!</p>
                </div>
            </div>
            <div class="main__item" (click)="viewPost()" style="background-image: url(../../assets/placeholders/blog4.jpg);">
                <div class="main__item__inner">
                    <p class="main__item__title">Lorem ipsum dolor sit amet consectetur adipisicing elit dolorum provident.</p>
                    <p class="main__item__subtitle">Tham Nguyen · 14/3/2022</p>
                    <p class="main__item__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, in eius nulla blanditiis voluptate totam accusamus tempora cum consectetur quod, corporis porro! Sunt placeat distinctio sit magnam autem amet ipsum!</p>
                </div>
            </div>
            <div class="main__item" (click)="viewPost()" style="background-image: url(../../assets/placeholders/blog5.jpg);">
                <div class="main__item__inner">
                    <p class="main__item__title">Lorem ipsum dolor sit amet consectetur adipisicing elit dolorum provident.</p>
                    <p class="main__item__subtitle">Tham Nguyen · 14/3/2022</p>
                    <p class="main__item__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, in eius nulla blanditiis voluptate totam accusamus tempora cum consectetur quod, corporis porro! Sunt placeat distinctio sit magnam autem amet ipsum!</p>
                </div>
            </div>
        </div>
    </div>
</section>