<app-banner-small src="../../assets/images/bg2.jpg"></app-banner-small>

<section class="main">
    <p class="main__title">GÓC CHIA SẺ</p>
    <div class="main__wrapper">
        <div class="main__filter">
            <input type="text" placeholder="Tìm kiếm..." class="main__filter__search">
            <div class="main__filter__category">Câu chuyện</div>
            <div class="main__filter__category">Công thức nấu ăn</div>
        </div>
        <div class="main__inner">
            <div *ngFor="let post of posts, index as i" class="main__item " [ngClass]="{'main__item--large':i == 0}" (click)="viewPost(post._id)" [style]="'background-image: url('+(post.thumbnail | imagecdn)+');'">
                <div class="main__item__inner">
                    <p class="main__item__title">{{post.title}}</p>
                    <p class="main__item__subtitle">{{post.author.fullname}} · {{post.timestamp | unixtodate}}</p>
                    <p class="main__item__desc">{{post.desc}}</p>
                </div>
            </div>
        </div>
    </div>
</section>