<app-banner-small src="../../assets/images/bg2.jpg"></app-banner-small>
<section class="main">
    <div class="main__wrapper">
        <div class="main__inner">
            <p class="main__title">{{item.name}}</p>
            <div class="main__desc" [innerHTML]="item.desc"></div>
            <p class="main__price">Giá: {{spec?.price??0|currencyformat}}đ</p>
            <div class="main__size">
                <p>Kích cỡ:</p>
                <select [(ngModel)]="spec" name="" id="" class="main__select">
                    <option *ngFor="let pSpec of item.specs" [ngValue]="pSpec">{{pSpec.name}}</option>
                </select>
            </div>
            <p class="main__amount__label">Số lượng: </p>
            <div class="main__amount">
                <div (click)="amount = (amount - 1>=1)?amount - 1:1" class="main__amount__minus">-</div>
                <div class="main__amount__value">{{amount}}</div>
                <div (click)="amount = amount + 1" class="main__amount__add">+</div>
            </div>
            <div (click)="orderProduct()" class="main__button">Mua ngay</div>
        </div>
        <div class="main__swiper">
            <img src="../../assets/placeholders/namngu.png" alt="">
        </div>
    </div>
    <div class="main__detail">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Thông tin sản phẩm
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHTML]="sanitizer.bypassSecurityTrustHtml(item.info)"></p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Hướng dẫn sử dụng
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHTML]="sanitizer.bypassSecurityTrustHtml(item.usage)"></p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Thành phần
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHTML]="sanitizer.bypassSecurityTrustHtml(item.ingredients)"></p>
          </mat-expansion-panel>
    </div>
</section>
<app-blog-overview></app-blog-overview>