<app-banner-small src="../../assets/images/bg2.jpg"></app-banner-small>
<section class="main">
    <div class="main__wrapper">
        <div class="main__inner">
            <p class="main__title">Nước mắm cốt cá cơm Mật Biển</p>
            <div class="main__desc">
                <p>- Được ủ với cá cơm tươi và muối sạch, lấy trực tiếp từ biển.</p>
                <p>- Sản xuất với quy trình truyền thống, không chất bảo quản</p>
                <p>- Đạt tiêu chuẩn an toàn thực phẩm</p>
            </div>
            <p class="main__price">Giá: 175,000đ</p>
            <div class="main__size">
                <p>Kích cỡ:</p>
                <select name="" id="" class="main__select">
                    <option value="500" selected>Chai 500ml</option>
                    <option value="250">Chai 250ml</option>
                </select>
            </div>
            <p class="main__amount__label">Số lượng: </p>
            <div class="main__amount">
                <div class="main__amount__minus">-</div>
                <div class="main__amount__value">0</div>
                <div class="main__amount__add">+</div>
            </div>
        </div>
        <div class="main__swiper">
            <img src="../../assets/placeholders/namngu.png" alt="">
        </div>
    </div>
    <div class="main__detail">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Thông tin sản phẩm
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla vitae lacus non pharetra. Phasellus ligula leo, volutpat et dolor at, gravida scelerisque est. Mauris mattis est massa, accumsan laoreet neque tristique eget. In tincidunt magna in enim sodales, semper ornare odio bibendum. Nullam laoreet efficitur nisl non interdum. Ut sem est, sagittis at tempor in, sollicitudin quis est. Sed a tincidunt nibh, vitae pellentesque libero. Morbi molestie velit est, id aliquet leo maximus vel. Duis in pellentesque ipsum. Nullam vel risus a ex sollicitudin tristique. Duis tincidunt nisi et ipsum vehicula mattis. Phasellus at leo at orci lobortis ullamcorper. Duis semper lorem ac ipsum fringilla, ut facilisis felis mollis. Proin venenatis velit non ullamcorper venenatis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                <br>
                Maecenas id nibh a tellus maximus feugiat vitae at erat. Proin eu ligula consectetur, pretium dolor et, sagittis felis. Integer nec ante et nisl pretium congue eget ut ipsum. Aliquam molestie lorem at auctor mollis. Donec orci dui, accumsan ut sodales quis, auctor et libero. Sed congue turpis in aliquet elementum. Sed aliquet turpis nec dapibus sollicitudin. Cras faucibus lectus imperdiet nisl posuere pretium. Fusce pharetra nec elit ac venenatis. Vestibulum odio odio, sagittis molestie porttitor at, pretium et velit. Fusce porta nulla lorem, in sollicitudin nisl consectetur id. Integer vel porttitor urna, nec viverra turpis. Nam nec massa vitae ex semper congue a vel diam. Vivamus fermentum risus tristique, facilisis leo vitae, fermentum mauris.
                <br>
                Quisque ut posuere risus, at malesuada odio. Nam ut tincidunt ante. Donec non iaculis velit. Proin scelerisque aliquam velit. Maecenas tincidunt lobortis enim, in sagittis tellus venenatis vitae. Nulla eu semper mauris, vitae blandit tortor. Vestibulum iaculis, felis sit amet posuere facilisis, tellus tortor mattis risus, in auctor erat leo sit amet lacus. Nullam a arcu dictum, aliquet tortor ac, varius erat. Nullam vitae dolor vel nibh hendrerit fermentum ut non libero. Morbi eget eleifend elit. Duis molestie at lorem nec hendrerit. Sed at laoreet metus.</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Hướng dẫn sử dụng
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla vitae lacus non pharetra. Phasellus ligula leo, volutpat et dolor at, gravida scelerisque est. Mauris mattis est massa, accumsan laoreet neque tristique eget. In tincidunt magna in enim sodales, semper ornare odio bibendum. Nullam laoreet efficitur nisl non interdum. Ut sem est, sagittis at tempor in, sollicitudin quis est. Sed a tincidunt nibh, vitae pellentesque libero. Morbi molestie velit est, id aliquet leo maximus vel. Duis in pellentesque ipsum. Nullam vel risus a ex sollicitudin tristique. Duis tincidunt nisi et ipsum vehicula mattis. Phasellus at leo at orci lobortis ullamcorper. Duis semper lorem ac ipsum fringilla, ut facilisis felis mollis. Proin venenatis velit non ullamcorper venenatis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                <br>
                Maecenas id nibh a tellus maximus feugiat vitae at erat. Proin eu ligula consectetur, pretium dolor et, sagittis felis. Integer nec ante et nisl pretium congue eget ut ipsum. Aliquam molestie lorem at auctor mollis. Donec orci dui, accumsan ut sodales quis, auctor et libero. Sed congue turpis in aliquet elementum. Sed aliquet turpis nec dapibus sollicitudin. Cras faucibus lectus imperdiet nisl posuere pretium. Fusce pharetra nec elit ac venenatis. Vestibulum odio odio, sagittis molestie porttitor at, pretium et velit. Fusce porta nulla lorem, in sollicitudin nisl consectetur id. Integer vel porttitor urna, nec viverra turpis. Nam nec massa vitae ex semper congue a vel diam. Vivamus fermentum risus tristique, facilisis leo vitae, fermentum mauris.
                <br>
                Quisque ut posuere risus, at malesuada odio. Nam ut tincidunt ante. Donec non iaculis velit. Proin scelerisque aliquam velit. Maecenas tincidunt lobortis enim, in sagittis tellus venenatis vitae. Nulla eu semper mauris, vitae blandit tortor. Vestibulum iaculis, felis sit amet posuere facilisis, tellus tortor mattis risus, in auctor erat leo sit amet lacus. Nullam a arcu dictum, aliquet tortor ac, varius erat. Nullam vitae dolor vel nibh hendrerit fermentum ut non libero. Morbi eget eleifend elit. Duis molestie at lorem nec hendrerit. Sed at laoreet metus.</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Thành phần
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla vitae lacus non pharetra. Phasellus ligula leo, volutpat et dolor at, gravida scelerisque est. Mauris mattis est massa, accumsan laoreet neque tristique eget. In tincidunt magna in enim sodales, semper ornare odio bibendum. Nullam laoreet efficitur nisl non interdum. Ut sem est, sagittis at tempor in, sollicitudin quis est. Sed a tincidunt nibh, vitae pellentesque libero. Morbi molestie velit est, id aliquet leo maximus vel. Duis in pellentesque ipsum. Nullam vel risus a ex sollicitudin tristique. Duis tincidunt nisi et ipsum vehicula mattis. Phasellus at leo at orci lobortis ullamcorper. Duis semper lorem ac ipsum fringilla, ut facilisis felis mollis. Proin venenatis velit non ullamcorper venenatis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                <br>
                Maecenas id nibh a tellus maximus feugiat vitae at erat. Proin eu ligula consectetur, pretium dolor et, sagittis felis. Integer nec ante et nisl pretium congue eget ut ipsum. Aliquam molestie lorem at auctor mollis. Donec orci dui, accumsan ut sodales quis, auctor et libero. Sed congue turpis in aliquet elementum. Sed aliquet turpis nec dapibus sollicitudin. Cras faucibus lectus imperdiet nisl posuere pretium. Fusce pharetra nec elit ac venenatis. Vestibulum odio odio, sagittis molestie porttitor at, pretium et velit. Fusce porta nulla lorem, in sollicitudin nisl consectetur id. Integer vel porttitor urna, nec viverra turpis. Nam nec massa vitae ex semper congue a vel diam. Vivamus fermentum risus tristique, facilisis leo vitae, fermentum mauris.
                <br>
                Quisque ut posuere risus, at malesuada odio. Nam ut tincidunt ante. Donec non iaculis velit. Proin scelerisque aliquam velit. Maecenas tincidunt lobortis enim, in sagittis tellus venenatis vitae. Nulla eu semper mauris, vitae blandit tortor. Vestibulum iaculis, felis sit amet posuere facilisis, tellus tortor mattis risus, in auctor erat leo sit amet lacus. Nullam a arcu dictum, aliquet tortor ac, varius erat. Nullam vitae dolor vel nibh hendrerit fermentum ut non libero. Morbi eget eleifend elit. Duis molestie at lorem nec hendrerit. Sed at laoreet metus.</p>
          </mat-expansion-panel>
    </div>
</section>
<app-blog-overview></app-blog-overview>